    <div class="container container-layout bg-info p-3 my-5" style="--bs-bg-opacity: .5;">
        <div class="container mt-3 mb-3">
            <h3>ERROR DE LOGUEO DE USUARIO</h3>
            <p>Usuario y/o contraseña inválido/s.</p>
        </div>
        <div class="pt-3 d-flex flex-row-reverse">
            <a href="/" class="btn btn-success">Volver</a>
        </div>
    </div>